.btnGetRecord{
    color: white; 
    background-color: grey;
    padding: 8px;
    margin: 5px;
    width: 100%;
}

#display{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

#display #map{
    width: 75%;
    height: 100%;
}

#legendContainer{
    width: 25%;
    text-align: center;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
     
    
    }

#legendContainer article{
    text-align: center;
    font-size: 12px;
}


.legendMag{
    width: 15%;
    height: 40px;
    margin: 5px;
}
